APPLE_ID=my_email@icloud.com
DEVICE_UUID=ITcFFH1GqaWuHzukLGymqUI3FP9xIScYFH1IIH4iDIcxoKSFIxD4raOuoGOADJWl
ICLOUDPASSWORD=S3krit!
W3WAPIKEY=XXXX4567
GMAPAPIKEY=DaIwAKuiD3b1ATIdryqCEwIRG2_qApTIBqQWTK2
FORECASTIOKEY=A2MxLmN1ZmSxLGL2MwN5ZGV2ATSzMTVl
HOOKURL=https://hooks.slack.com/services/T0001/B00VlHNFFa/qTylIHERDyMbF3SXIz5MGHSO
SLACKTOKEN=qTylIHERDyMbF3SXIz5MGHSO
SLACKTEAM=T0001
